<div class="container">

    <p><span class="glyphicon glyphicon-usd">&nbsp;</span>Expense</p>

    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" ng-click="vm.getExpensesByFilter('A,B,C,D')">A-D</button>
        <button type="button" class="btn btn-default" ng-click="vm.getExpensesByFilter('E,F,G,H')">E-H</button>
        <button type="button" class="btn btn-default" ng-click="vm.getExpensesByFilter('I,J,K,L')">I-L</button>
        <button type="button" class="btn btn-default" ng-click="vm.getExpensesByFilter('M,N,O,P')">M-P</button>
        <button type="button" class="btn btn-default" ng-click="vm.getExpensesByFilter('Q,R,S,T')">Q-T</button>
        <button type="button" class="btn btn-default" ng-click="vm.getExpensesByFilter('U,V,W,X')">U-X</button>
        <button type="button" class="btn btn-default" ng-click="vm.getExpensesByFilter('Y,Z')">Y-Z</button>
    </div>

    <br />


    <form name="form" ng-submit="vm.saveExpenses()" role="form">

        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th style="background-color: #07889B; color:white;">Expense</th>
                <th style="background-color: #07889B; color:white;">Delete</th>
            </tr>

            <tr ng-repeat="x in vm.Expenses">
                <td>
                    <input type="hidden" name="ID" id="ID" class="form-control" ng-model="x.ID" readonly />
                    <input type="text" name="Name" id="Name" class="form-control" ng-model="x.Name" required />
                </td>
                <td width="100px;"><input type="button" class="btn btn-link" data-ng-click="vm.removeExpense($index)" value="Delete" /></td>
            </tr>
            <tr class="form-actions">
                <td colspan="2">
                    <button type="button" class="btn btn-link" ng-click="vm.addExpense()">Add Row</button>
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Save</button>
                </td>
            </tr>
        </table>
    </form>

</div>