<div class="container">

    <p><span class="glyphicon glyphicon-globe">&nbsp;</span>Country</p>


    <form name="form" ng-submit="vm.saveCountrys()" role="form">

        <table class="table table-striped table-bordered table-condensed">
            <tr>
                <th style="background-color: #07889B; color:white;">Country</th>
                <th style="background-color: #07889B; color:white;">Delete</th>
            </tr>

            <tr ng-repeat="x in vm.Countrys">
                <td>
                    <input type="hidden" name="ID" id="ID" class="form-control" ng-model="x.ID" readonly />
                    <input type="text" name="Name" id="Name" class="form-control" ng-model="x.Name" required />
                </td>
                <td width="100px;"><input type="button" class="btn btn-link" data-ng-click="vm.removeCountry($index)" value="Delete" /></td>
            </tr>
            <tr class="form-actions">
                <td colspan="2">
                    <button type="button" class="btn btn-link" ng-click="vm.addCountry()">Add Row</button>
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Save</button>
                </td>
            </tr>
        </table>
    </form>

</p>
</div>